<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rightclickit.b2bsaleon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <user-permission android:name="com.rightclickit.b2bsaleon.permisssion.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/favicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqR5DRtVleJ60iI_aHI5EyrVnBhO6dLxQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- Routes data sync service -->
        <service
            android:name=".services.SyncRoutesMasterDetailsService"
            android:enabled="true"
            android:exported="true" />

        <!-- User privileges data sync service -->
        <service
            android:name=".services.SyncUserPrivilegesService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.Products_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentsInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ProductViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Agents_AddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TakeOrderScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ViewAgent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.SalesActivity" />
        <activity android:name=".activities.AgentsTakeOrderPreview" />
        <activity android:name=".activities.TripSheetsActivity" />
        <activity android:name=".activities.TripSheetView" />
        <activity android:name=".activities.TripSheetStock" />
        <activity android:name=".activities.TripSheetViewPreview" />
        <activity android:name=".activities.TripsheetStockPreview" />
        <activity android:name=".activities.AgentDeliveries" />
        <activity android:name=".activities.AgentTDC_Order" />
        <activity android:name=".activities.AgentPayments" />
        <activity android:name=".activities.AgentReturns" />
        <activity android:name=".activities.AgentDeliveriesView" />
        <activity android:name=".activities.ProductStock" />
        <activity android:name=".activities.AgentPaymentsView" />
        <activity android:name=".activities.AgentReturnsView" />
        <activity android:name=".activities.AgentsTDC_View" />
        <activity
            android:name=".activities.Sales_PreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Sales_Preview_PrintActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Sales_Retailer_AddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.SalesListActivity" />
        <activity android:name=".activities.Saleslist_ViewActivity" />
        <activity android:name=".activities.TDCSales_TodayActivity" />
        <activity android:name=".activities.TDCSales_Weekly" />
        <activity android:name=".activities.TDCSales_Month"></activity>
    </application>

</manifest>