<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rightclickit.b2bsaleon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="com.rightclickit.b2bsaleon.permisssion.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/tmppl"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/favicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqR5DRtVleJ60iI_aHI5EyrVnBhO6dLxQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- Routes data sync service -->
        <service
            android:name=".services.SyncRoutesMasterDetailsService"
            android:enabled="true"
            android:exported="true" />

        <!-- User privileges data sync service -->
        <service
            android:name=".services.SyncUserPrivilegesService"
            android:enabled="true"
            android:exported="true" />

        <!-- Take Order data sync service -->
        <service
            android:name=".services.SyncTakeOrdersService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.Products_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentsInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ProductInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Agents_AddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentTakeOrderScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TDCSalesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripSheetsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripSheetView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripSheetStock"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripSheetViewPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripsheetStockPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentDeliveries"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentTDC_Order"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentPayments"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentReturns"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentDeliveriesView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ProductStock"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentPaymentsView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentReturnsView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentsTDC_View"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TDCSalesCustomerSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TDCSales_Preview_PrintActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TDCSalesListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DashboardTakeorder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DashboardTakeorderPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DashboardDelivery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DashboardReturns"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DashboardPayments"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DashboardDeliveryPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.RetailersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Retailers_AddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.Retailers_PaymentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentTakeOrderPreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TripsheetTakeorder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripsheetDelivery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripsheetTakeorderPreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TripsheetReturns"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripsheetDeliveryPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripsheetPayments"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.RouteStock"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".services.SyncSpecialPriceService"
            android:enabled="true"
            android:exported="true" />

        <!-- TDC Sales Orders Sync Service -->
        <service
            android:name=".services.SyncTDCSalesOrderService"
            android:enabled="true"
            android:exported="true" />

        <!-- Stake types Sync Service -->
        <service
            android:name=".services.SyncStakeHolderTypesService"
            android:enabled="true"
            android:exported="true" />

        <!-- Tripsheets Sync Service -->
        <service
            android:name=".services.SyncTripSheetsListService"
            android:enabled="true"
            android:exported="true" />

        <!-- TDC Customers Sync Service -->
        <service
            android:name=".services.SyncTDCCustomersService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.SyncNotificationsListService"
            android:enabled="true"
            android:exported="true" />

        <!-- TripSheets Stock Sync Service -->
        <service
            android:name=".services.SyncTripSheetsStockService"
            android:enabled="true"
            android:exported="true" />

        <!-- TripSheets Payments Sync Service -->
        <service
            android:name=".services.SyncTripSheetsPaymentsService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.SyncTripsheetDeliveriesService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.SyncTripsheetReturnsService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.TripsheetReturnsPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TripsheetPaymentsPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentAddPayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentAddPaymentPreview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AgentStockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activities.AgentStockDeliveryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <service
            android:name=".services.SyncAgentStockDeliveriesService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.SyncCloseTripSheetsStockService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.DeviceLocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.SyncDeviceLocationDetailsService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>